@use './common.scss';
@use './fonts.scss';

.nav {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	&_background {
		background-image: url(/src//assets/images/nav_background.png);
		position: absolute;
		inset: 0;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	&_bar {
		border-bottom: 2px solid grey;
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
		backdrop-filter: blur(6px);
		background: rgba(0, 0, 0, 0.01);
	}

	&_logo {
		margin-left: 166px;
		width: 52px;
		height: 52px;
	}

	&_links {
		display: flex;
		gap: 57px;

		a {
			font-family: Fustat;
			color: rgba(255, 255, 255, 1);
			font-size: 16px;
			font-weight: 500;
			transition: color 0.3s;
			&:hover {
				color: #ccc;
			}
		}
	}

	&_phone {
		color: rgba(255, 255, 255, 1);
		font-size: 16px;
		font-weight: 400;
		margin-right: 170px;
	}

	&_hero {
		position: relative;
		z-index: 10;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0 1rem;

		&-title {
			font-size: clamp(2.5rem, 8vw, 5rem);
			font-weight: 700;
			color: #fff;
			margin-bottom: 1rem;
			letter-spacing: 0.2rem;
		}

		&-subtitle {
			font-size: clamp(1rem, 2vw, 1.5rem);
			font-weight: 300;
			color: rgba(255, 255, 255, 0.8);
			margin-bottom: 3rem;
			letter-spacing: 0.15rem;
		}

		&-button {
			box-sizing: border-box;
			border-radius: 40px;
			background: rgba(255, 255, 255, 0.1);
			padding: 23px 84px;
			transition: 0.3s;
			border: 2px solid rgba(255, 255, 255, 0.5);
			color: rgba(147, 235, 221, 1);
		}
	}
}
.about {
	&_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 140px;
		padding-bottom: 140px;
		gap: 100px;
	}
	&_card {
		display: flex;
		gap: 20px;
		flex-direction: column;
	}
	.title {
		margin-bottom: 20px;
	}
	&_text {
		color: #ffffff;
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 69px;
	}
	&_img {
		width: 540;
		height: 500;
	}
	&_btn {
		width: 231px;
		padding: 23px 89px;
		color: #fff;
		border: 2px solid;
		background: rgba(255, 255, 255, 0.1);
		font-weight: 800;
		font-size: 16px;
		border-radius: 40px;
	}
}
.gallery {
	.title {
		margin-bottom: 40px;
	}
	&_box {
		height: 920px;
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	&_card {
		color: #fff;
	}
	&_card:nth-child(1) {
		grid-column: span 4;
	}
	&_card:nth-child(2) {
		grid-column: span 2;
		grid-row: span 2;
		img {
			width: 540px;
			height: 404px;
		}
	}
	&_card:nth-child(3),
	&_card:nth-child(4),
	&_card:nth-child(5),
	&_card:nth-child(6) {
		grid-column: span 1;
		img {
			width: 255px;
			height: 184px;
		}
	}
}
.projects {
	.title {
		width: 282px;
	}
	&_box {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&_card {
		display: flex;
		color: white;
		justify-content: space-between;
		&_item {
			display: flex;
			flex-direction: column;
			gap: 40px;
			&_title {
font-weight: 400;
font-size: 24px;
}
&_text {
font-weight: 300;
font-size: 16px;
color: rgba(181, 181, 181, 1);
}
&_btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid;
color: #93EBDD;
font-weight: 800;
font-size: 16px;
margin-top: 80px;


padding: 23px 65px;
border-radius: 40px;
}
		}
	}
}
.contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 140px;

	.container {
		display: flex;
		gap: 75px;
	}
	&_box {
		width: 305px;
		height: 583px;
		display: flex;
		flex-direction: column;
		color: white;

	}
	&_card {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 60px;
		&_title {
font-weight: 400;
font-size: 20px;
color: rgba(147, 235, 221, 1);
		}
		&_text {
			font-weight: 400;
			font-size: 16px;
			color: #ffffff;
			span {
				padding-right: 20px;
			}
			.icons {
				img {
					padding-right: 40px;
				}
				
			}
		}
	}
}
.footer {
	margin-top: 140px;
	height: 447px;
	background-color: rgba(16, 16, 16, 1);
	.footer_box {
		padding-top: 111px;
		display: flex;
		justify-content: space-between;
	}
	&_list {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&_link {
		color: rgba(147, 235, 221, 1);
		
	}
	&_link:nth-child(2) {
		color: white;
	}
	span {
		color: white;
		padding-right: 20px;
	}
	&_icons {
		display: flex;
		gap: 40px;
		
	}
}
